app = "diddyback"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "8080"

[deploy]

[[services]]
  internal_port = 8080
  protocol = "tcp"
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [[services.checks]]
    type = "http"
    interval = "15s"
    timeout = "10s"
    grace_period = "15s"
    method = "get"
    path = "/"
    protocol = "http" 